---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import RedLine from "../../components/RedLine.astro";
import BlogArchive from '../../components/BlogArchive.astro';

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Explore Diverse Topics | Blog Articles on Driveways, Commercial Planning, Public Sector Spaces";
const pageDescription = "Discover a range of insightful blog articles covering driveways, commercial planning, and public sector spaces. Get in touch with our experienced team for more information.";
const pageKeywords = "Explore Diverse Topics, Blog Articles, Driveways, Commercial Planning, Public Sector Spaces, Experienced Team";
---
<script>
  import { gsap } from 'gsap';
  import ScrollTrigger from 'gsap/ScrollTrigger';
  window.addEventListener('load', async () => {
    gsap.registerPlugin(ScrollTrigger);
    gsap.to(".btext", {
      x: 100,
      scrollTrigger: {
        trigger: '.container',
        start: "clamp(top bottom)",
        scrub: 2,
        pinSpacing: false,
        markers:false,
      },
    });
    observer.observe(targetDiv);
  })
</script>
<BaseLayout pageTitle = {pageTitle}, pageDescription = {pageDescription}, pageKeywords = {pageKeywords}>
  <div class="flex bg-white" id="target-div">
    <div class="border-r border-gray-light border-solid w-12"></div>
        <div class="flex-1 flex-col items-center justify-center">
          <div class="md:w-2/5 mx-auto py-14">
            <h1 class="text-center uppercase">Blog Archive</h1>
            <RedLine />
            <p class="text-center text-black">Select any link below to read more about any of our blog articles from driveways to commercial planning to public sector spaces.</p>
          </div>
          <BlogArchive />
          <div class="tags flex flex-wrap pt-16">
            {tags.map((tag) => (
            <div class="mr-4 btext">
              <button type="button" class="bg-red hover:bg-black text-white font-medium tracking-wide py-1 pl-4 pr-1 my-6 rounded-full flex items-center at-estimate-btn">
                <span><a class="text-white hover:text-white capitalize" href={`/tags/${tag}`}>{tag}</a></span>
                <span class="bg-black rounded-full p-2 ml-4 hover:bg-red">
                    <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                    </svg>
                </span>
              </button>
            </div>
            ))}
          </div>
        </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
  </div>
</BaseLayout>
