---
import BaseLayout from '../layouts/BaseLayout.astro';
import Clients from '../components/Clients.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import EstimateForm from '../components/EstimateForm.astro';
import RedLine from '../components/RedLine.astro';
import BlogArchive from '../components/BlogArchive.astro';
const pageTitle = "Tarmac Company in Kent - Ashford Tarmac";
---

<script>
import { gsap } from 'gsap';
import ScrollTrigger from 'gsap/ScrollTrigger';
window.addEventListener('load', () => {
gsap.registerPlugin(ScrollTrigger);
gsap.to(".btext", {
    x: 600,
    scrollTrigger: {
        trigger: '.container',
        start: "clamp(top bottom)",
        scrub: 2,
        pinSpacing: false,
        markers:false,
    },
});
gsap.to(".btext2", {
    x: -600,
    scrollTrigger: {
        trigger: '.container',
        start: "clamp(top bottom)",
        scrub: 2,
        pinSpacing: false,
        markers:false,
    },
});

// animation for the red background
const targetDiv = document.getElementById("target-div");
const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      gsap.to(targetDiv, {
        duration: 1, // Adjust duration as needed
        css: { clipPath: "polygon(0 0, 100% 0, 100% 100%, 0 100%)" },
        ease: "power3.inOut" // Adjust easing if needed
      });
    }
  });
});
observer.observe(targetDiv);

const serviceSection2 = (selector:string, scroll_distance_factor:number) => {
    const trigger = document.querySelector('[data-at-snap=services]')
    const progress = trigger?.querySelector('[data-progress]')

    if (!trigger || !progress) {
        return
    }
    const headers = [...trigger?.querySelectorAll('[data-at-service-id]')]
    const tl = gsap.timeline({
        scrollTrigger: {
            trigger,
            pin: true,
            start: 'top top',
            scrub: 1,
            end: () => `+=3000`
        }
    })
    const st = tl.scrollTrigger
    const update_progress = function() {
        const percentage = `${Math.ceil(this.progress() * 100)}%`
        progress.dataset.progress = percentage
        progress.nextElementSibling.style.marginRight = `${Math.ceil((1 - this.progress()) * 100)}%`
    }
    const state = {
        last_img: null,
        last_txt: null,
        pos: 0,
        tt_dur: []
    }

    headers.forEach((h:HTMLDataElement, i) => {
        const service_id = h.dataset.atServiceId
        const images = [...trigger.querySelectorAll(`[data-at-service-img="${service_id}"]`)]
        const txt = trigger.querySelector(`[data-at-service-txt="${service_id}"]`)
        const tt = gsap.timeline({onUpdate: update_progress})

        h.addEventListener('click', () => {
            const st = tl.scrollTrigger
            window.scrollTo({top: st.labelToScroll(`hdr${h.dataset.atServiceId}`), behavior: 'smooth'});
        })

        tt.to(h, {color: 'red', duration: 0.01}, '<')
        if (i > 0) {
            tt.add(gsap.to(headers[i-1], {color: null, duration: 0}), '<')
            tt.to(images[0], {display: 'inline-block', left: '0'}, '<')
            tt.to(txt, {display: 'inline-block', left: '0', delay: 0.1}, '<')
            tt.to(state.last_img, {display: 'none', duration: 0}, '<')
            tt.to(state.last_txt, {display: 'none', duration: 0}, '<')
        }
        tt.addLabel(`hdr${service_id}`)
        for (let k = 1; k < images.length; ++k) {
            tt.to(images[k-1], {display: 'none', duration: 0}),
            tt.to(images[k], {display: 'inline-block'}, '<')
            state.last_img = images[k]
        }
        if (i < (headers.length - 1)) {
            state.last_txt = txt
            tt.to(state.last_img, {position: 'relative', left: '100%'}, '<')
            tt.to(state.last_txt, {position: 'relative', left: '130%', delay: 0.15})
        }
        tl.add(tt)
    })
    
    tl.getChildren(false, false, true).forEach(x => {
        const tk = Object.keys(x.labels)[0]
        const tv = x.labels[tk] + x.startTime()
        tl.addLabel(tk, tv)
    })

    trigger.querySelector('[data-at-services-next]')?.addEventListener('click', () => {
        state.pos = (state.pos + 1) % headers.length
        window.scrollTo({top: st.labelToScroll(`hdr${state.pos + 1}`), behavior: 'smooth'});
    })
}
serviceSection2('[data-at-snap=services]', 0.1)

const at_sliding_tabs = () => {
    const opt = {
        delay: 5000,
        hilite: 'red'
    }
    const selectors = [...document.querySelectorAll('[data-at-sliding-tabs]')].map(root => ({
        root,
        progressElement: root.nextElementSibling?.children,
        tabs: [...root.children].map(el => ({
            tab: el,
            header: el.querySelector('h1')
        }))
    }))

    const progress = function(progressElement, bar) {
        progressElement.innerText = `${Math.round(this.progress() * 100)}%`
    }
    const goto_tab = (tabs, prg, index, bk) => {
        tabs.forEach((tab, i) => {
            const active = i === index
            const flexGrow = active ? 1 : 0
            const backgroundColor = active ? opt.hilite : ''
            gsap.to(tab.tab, {flexGrow})
            if (bk) {
                gsap.to(prg[i+1], {backgroundColor})
            }
        })
    }
    selectors.forEach(({root, progressElement, tabs}) => {
        let active = 0
        let tl = gsap.timeline()
        const kill_tl = () => {
            if (typeof tl !== 'undefined') {
                tl.kill()
                tl = undefined
                return true
            }
            return false
        }
        tabs.forEach(({tab}, i) => {
            tl.to(progressElement[i + 1], {borderTop: '4rem solid red', duration: opt.delay / 1000, onUpdate: progress, onUpdateParams: [progressElement[0]]})
            tl.set(progressElement[i + 1], {borderTop: '', onComplete: () => {
                active = (i + 1) % tabs.length
                goto_tab(tabs, progressElement, active, false)
            }})
        })
        tabs.forEach(({tab, header}, t) => {
            if (!header) return
            header.addEventListener('click', () => {
                kill_tl()
                goto_tab(tabs, progressElement,  t, true)
            })
        })

        root.addEventListener('click', () => {
            gsap.set(progressElement[active + 1], {borderTop: '', duration:0})
            gsap.to(progressElement[0], {opacity: 0})
            if (kill_tl()) {
                goto_tab(tabs, progressElement, active, true)
            }
        }, {once: true})

        tl.repeat(-1)
    })
}

at_sliding_tabs()
})
</script>
<BaseLayout pageTitle={pageTitle}>
<!-- hero section -->
<div class="flex">
    <div class="flex flex-none items-center justify-center border-r border-gray-dark border-solid w-12"></div>
    <div id="at-tabs-1" data-at-sliding-tabs class="flex flex-1 flex-col lg:flex-row flex-shrink-0 p-1 h-[48rem] bg-[url('/driveway1.svg')] lg:bg-contain bg-fixed bg-no-repeat gap-0.5 relative overflow-hidden">
        <div class="flex flex-[1_0_3.5rem] flex-col lg:flex-row overflow-hidden relative">
            <h1 class="flex-none lg:w-14 h-14 lg:h-auto z-[2] cursor-pointer text-base lg:text-xl text-center font-light border border-gray-dark border-solid rounded-xl hover:bg-red hover:text-black bg-black text-gray"><span class="inline-block whitespace-nowrap uppercase lg:vertical-lr align-middle relative h-[100%] leading-[3.5rem] lg:leading-normal">Commercial Tarmac Services</span></h1>
            <div class="flex-none pt-24 px-12 align-top relative z-[1] lg:w-[calc(100vw-(3.5rem*5))] lg:max-w-[calc(1200px-(3.5rem*5))]">
                <h2 class="text-red md:text-lg text-sm pb-2">Pave the Way to Success with Expert Road Construction</h2>
                <h3 class="text-white md:text-3xl text-xl font-bold normal-case">Your Trusted Partner for Commercial Road Projects</h3>
                <p class="text-sm md:text-base text-white my-8 lg:pr-24">When it comes to infrastructure, a well-constructed road can be the backbone of your commercial property. At Ashford Tarmac, we've been the trusted choice for commercial road construction since 1979. Our experienced team specialises in creating high-quality roads that ensure smooth transportation and accessibility for your properties.</p>
                <GetEstimateBtn />
            </div>
        </div>
        <div class="flex flex-[0_0_3.5rem] flex-col lg:flex-row overflow-hidden relative">
            <h1 class="flex-none lg:w-14 h-14 lg:h-auto z-[2] cursor-pointer text-base lg:text-xl text-center font-light border border-gray-dark border-solid rounded-xl hover:bg-red hover:text-black bg-gray-dark text-gray"><span class="inline-block whitespace-nowrap uppercase lg:vertical-lr align-middle relative h-[100%] leading-[3.5rem] lg:leading-normal">Domestic Tarmac Services</span></h1>
            <div class="flex-none pt-24 px-12 align-top relative z-[1] lg:w-[calc(100vw-(3.5rem*5))] lg:max-w-[calc(1200px-(3.5rem*5))]">
                <h2 class="text-red md:text-lg text-sm pb-2">Upgrade Your Home with a Beautiful Driveway</h2>
                <h3 class="text-white md:text-3xl text-xl font-bold normal-case">Transform Your Property's Curb Appeal Today</h3>
                <p class="md:text-base text-sm text-white my-8 lg:pr-24">Your home deserves the best, and that includes a stunning driveway. At Ashford Tarmac, we specialise in crafting exceptional driveways that not only elevate your home's aesthetics but also provide durability and safety. Say goodbye to an old, worn-out driveway and hello to a welcoming entrance that makes a lasting impression.</p>
                <GetEstimateBtn />
            </div>
        </div>
        <div class="flex flex-[0_0_3.5rem] flex-col lg:flex-row overflow-hidden relative">
            <h1 class="flex-none lg:w-14 h-14 lg:h-auto z-[2] cursor-pointer text-base lg:text-xl text-center font-light border border-gray-dark border-solid rounded-xl hover:bg-red hover:text-black bg-gray-light text-gray"><span class="inline-block whitespace-nowrap uppercase lg:vertical-lr align-middle relative h-[100%] leading-[3.5rem] lg:leading-normal">Public Sector Tarmac Services</span></h1>
            <div class="flex-none pt-24 px-12 align-top relative z-[1] lg:w-[calc(100vw-(3.5rem*5))] lg:max-w-[calc(1200px-(3.5rem*5))]">
                <h2 class="text-red md:text-lg text-sm pb-2">Enhance Public Spaces with Quality Surfacing</h2>
                <h3 class="text-white md:text-3xl text-xl font-bold normal-case">Creating Safer Playgrounds and Efficient Car Parks</h3>
                <p class="md:text-base text-sm text-white my-8 lg:pr-24">We understand that public spaces are the heart of our communities, and we're here to help you make them even better. At Ashford Tarmac, we specialise in surfacing solutions that go beyond the ordinary. Whether it's crafting safe and vibrant playgrounds or creating efficient car parks, we bring your vision to life with top-quality workmanship.</p>
                <GetEstimateBtn />
            </div>
        </div>
    </div>
    <div class="flex flex-col flex-none items-center justify-start w-12 border-l border-gray-dark border-solid">
        <p class="text-gray font-light text-lg h-5">100%</p>
        <div class="min-w-0.5 min-h-16 bg-black"></div>
        <div class="min-w-0.5 min-h-16 bg-gray"></div>
        <div class="min-w-0.5 min-h-16 bg-gray-dark"></div>
    </div>
</div>
<Clients />
<!-- Red section (about) -->
<div class="flex bg-red" id="target-div" data-at-snap>
    <div class="border-r border-red-dark border-solid w-12 flex-none"></div>
    <div class="flex-1 flex-col items-center justify-center overflow-hidden">
        <div class="flex flex-col items-start justify-center items-center py-6 bg-red">
            <p class="v-copy3 pr-2">about us</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
        <div class="flex-col md:w-2/3">
            <h2 class="md:text-lg text-smh text-white pb-4 pt-12">Discover Our Kent Tarmac Legacy</h2>
            <h4 class="md:text-6xl text-3xl font-light">Ashford Tarmacadam Contractors is a Kent-based tarmac company with over 45 years of experience.</h4>
            <button class="bg-black hover:bg-white hover:text-black font-medium tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                <a class=" text-white" href="/about">About Ashford Tarmac</a>
                <span class="bg-red rounded-full p-2 ml-4">
                    <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                    </svg>
                </span>
            </button>
        </div>
        <div class="container w-full overflow-hidden">
            <div class="btext whitespace-nowrap md:text-7xl text-5xl text-gray font-bolder text-opacity-70 uppercase">ashford tarmac</div>
            <div class="btext2 whitespace-nowrap md:text-7xl text-5xl text-gray-dark font-bolder text-opacity-40 uppercase">driveways | roads</div>
        </div>
        <div class="bg-white md:w-3/5 flex"><p>&nbsp;</p></div>
    </div>
    <div class="border-l border-red-dark border-solid w-12 flex-none"></div>
</div>
<!-- Service section -->
<div class="flex bg-white" data-at-snap="services">
    <div class="flex items-start justify-center border-r border-gray-light border-solid w-12">
        <p class="v-copy text-gray py-2">New Driveways | Resurfacing Tarmac | Tarmac Repairs | Resin Bound & Bond</p>
    </div>
    <!-- Main -->
    <div class="flex-1 flex-col items-center justify-center">
        <div class="flex flex-col items-start justify-center items-center pb-4">
            <p class="v-copy2 pr-2">services</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
    <!-- Image and text -->
    <div class="md:flex pb-24 pt-24">
        <div class="overflow-hidden w-[100%] relative md:w-3/5 whitespace-nowrap">
            <span class="inline-block relative w-[100%]" data-at-service-img="1"><img src="/driveway1.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="1"><img src="/driveway2.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="1"><img src="/driveway3.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="1"><img src="/driveway4.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="1"><img src="/driveway5.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="1"><img src="/driveway6.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="1"><img src="/driveway7.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="1"><img src="/driveway8.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%] left-[100%]" data-at-service-img="2"><img src="/dev1.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="2"><img src="/dev2.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="2"><img src="/dev3.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="2"><img src="/dev4.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="2"><img src="/dev5.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="2"><img src="/dev6.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="2"><img src="/dev7.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="2"><img src="/dev8.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%] left-[100%]" data-at-service-img="3"><img src="/uni1.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="3"><img src="/uni2.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="3"><img src="/uni3.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="3"><img src="/uni4.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="3"><img src="/uni5.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="3"><img src="/uni6.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="3"><img src="/uni7.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
            <span class="hidden relative w-[100%]" data-at-service-img="3"><img src="/uni8.svg" class="w-[100%]" alt="Domestic Driveway Tarmac Services in Kent"/></span>
        </div>
        <div class="md:w-2/5 text-right">
            <h2 class="lg:text-lg text-gray pb-4">Service Sectors</h2>
            <h3 class="lg:text-3xl text-2xl font-bold text-gray-dark hover:cursor-pointer" data-at-service-id="1">Domestic Tarmac</h3>
            <h3 class="lg:text-3xl text-2xl font-bold text-black hover:cursor-pointer" data-at-service-id="2">Commercial Tarmac</h3>
            <h3 class="lg:text-3xl text-2xl font-bold text-gray hover:cursor-pointer" data-at-service-id="3">Public Sector Tarmac</h3>
            <span class="thin-text text-gray after:content-[attr(data-progress)]" data-progress="0%"></span>
            <div class="border-t border-red ml-8 block mr-[100%]"></div>
            <div class="md:pl-6 overflow-hidden">
                <div data-at-service-txt="1" class="relative inline-block">
                    <p class="text-black">Transform your home with our expertise in domestic tarmac solutions. From crafting beautiful driveways to repairing and resurfacing, we've been enhancing curb appeal for 45 years. Our team's dedication and long-standing commitment to quality ensure your project's success.</p>
                    <span class ="text-sm text-gray uppercase">New Driveways | Resurfacing Tarmac |  Tarmac Repairs |  Machine & Hand Lay | Resin Bound & Bond</span>
                    <a href="/domestic-tarmac-contractor" alt="domestic and residential tarmac services in kent">
                    <button class="capitalize ml-auto bg-red hover:bg-black text-white font-medium tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                        <span>Domestic services</span>
                        <span class="bg-black rounded-full p-2 ml-4">
                            <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                            </svg>
                        </span>
                    </button>
                    </a>
                </div>
                <div data-at-service-txt="2" class="relative hidden left-[130%]">
                    <p class="text-black">For commercial projects, Ashford Tarmac delivers results. We specialize in constructing new roads, efficient car parks, and safe playgrounds. Our experience spans decades, making us a trusted choice for businesses, property developers, and industrial estate owners.</p>
                    <span class ="text-sm text-gray uppercase">New Roads | Car Parks |  Playground Surfacing | Foot/Cycle Paths | Pot Hole Repairs | Resin Bond/Bound</span>
                    <a href="/commercial-tarmac-contractor" alt="commercial tarmac services in kent">
                    <button class="capitalize ml-auto bg-red hover:bg-black text-white font-medium tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                        <span>Commercial services</span>
                        <span class="bg-black rounded-full p-2 ml-4">
                            <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                            </svg>
                        </span>
                    </button>
                    </a>
                </div>
                <div data-at-service-txt="3" class="relative hidden left-[130%]">
                    <p class="text-black">Enhancing public spaces is our passion. Ashford Tarmac collaborates with the public sector to create safe, attractive playgrounds, efficient car parks, and well-paved roads. With a rich history of serving communities, we're your dependable partner for these essential projects.</p>
                    <span class ="text-sm text-gray uppercase">Playground Surfacing | Car Parks |  Road Paving</span>
                    <a href="/public-sector-tarmac-contractor" alt="tarmac services in kent for the public sector">
                    <button class="capitalize ml-auto bg-red hover:bg-black text-white font-medium tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                        <span>Public sector services</span>
                        <span class="bg-black rounded-full p-2 ml-4">
                            <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                            </svg>
                        </span>
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Get estimate -->
    <EstimateForm />
    <div class="flex flex-col items-start justify-center items-center pb-4 pt-12">
        <p class="v-copy2 pr-16">tarmac articles</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
        </svg>
    </div>
    <!-- blog archive --> 
<BlogArchive />
</div><!--end of main -->
    <div class="border-l border-gray-light border-solid w-12 hover:cursor-pointer border md:pt-[12.2rem] pt-[25.4rem]" data-at-services-next>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg> 
        <div class="flex flex-col items-center pt-[7.8rem] lg:pt-[9.5rem] md:pt-[8rem]">
            <p class="v-copy pr-0.5 text-gray">keep scrolling</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
    </div>
</div>


</BaseLayout>