---
import BaseLayout from '../layouts/BaseLayout.astro';
import Clients from '../components/Clients.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import EstimateForm from '../components/EstimateForm.astro';
import BlogArchive from '../components/BlogArchive.astro';
const pageTitle = "Top-Quality Tarmac Services | New Driveways, Resurfacing, Repairs in Kent";
const pageDescription = "ransform your vision into reality with our top-quality tarmac services. Specialising in new driveways, resurfacing, repairs, and resin bound & bond services. Contact us for a tarmac estimate today!";
const pageKeywords = "Tarmac services, new driveways, resurfacing, tarmac repairs, resin bound services, bond services, kent";
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription} pageKeywords={pageKeywords}>
<!-- hero section -->
<script>
import index from '../scripts/index'
(async () => await index())()
</script>
<div class="flex">
    <div class="flex flex-none items-center justify-center border-r border-gray-dark border-solid w-12"></div>
    <div id="at-tabs-1" data-at-sliding-tabs class="flex flex-1 flex-col lg:flex-row flex-shrink-0 p-1 h-[48rem] gap-0.5 relative overflow-hidden">
        <div class="flex flex-[1_0_3.5rem] flex-col lg:flex-row overflow-hidden relative">
            <h1 class="flex-none lg:w-14 h-14 lg:h-auto z-[2] cursor-pointer text-base lg:text-xl text-center font-medium border border-gray-dark border-solid rounded-xl hover:bg-red hover:text-black bg-black text-white"><span class="inline-block whitespace-nowrap uppercase lg:vertical-lr align-middle relative h-[100%] leading-[3.5rem] lg:leading-normal">Commercial Tarmac Services</span></h1>
            <div class="flex-none pt-24 px-12 align-top relative z-[1] lg:w-[calc(100vw-(3.5rem*5))] lg:max-w-[calc(1200px-(3.5rem*5))]">
                <h2 class="text-red md:text-lg text-sm pb-2">Pave the Way to Success with Expert Road Construction</h2>
                <h3 class="text-white md:text-3xl text-xl font-bold normal-case">Your Trusted Partner for Commercial Road Projects</h3>
                <p class="text-sm md:text-base text-white my-8 lg:pr-24">When it comes to infrastructure, a well-constructed road can be the backbone of your commercial property. At Ashford Tarmac, we've been the trusted choice for commercial road construction since 1979. Our experienced team specialises in creating high-quality roads that ensure smooth transportation and accessibility for your properties.</p>
                <div class="flex flex-row justify-start min-h-min pt-2">
                    <a href="/commercial-tarmac-contractor" alt="commercial tarmac services in kent" class="bg-red hover:bg-white hover:text-black text-white font-bolder lg:text-base text-xs tracking-wide tracking-wide py-1 pl-4 pr-1 my-6 rounded-full flex items-center">
                        <span  class="">Commercial Services</span>
                        <span class="bg-black rounded-full p-2 ml-4 ">
                            <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-[0_0_3.5rem] flex-col lg:flex-row overflow-hidden relative">
            <h1 class="flex-none lg:w-14 h-14 lg:h-auto z-[2] cursor-pointer text-base lg:text-xl text-center font-medium border border-gray-dark border-solid rounded-xl hover:bg-red hover:text-black bg-gray-dark text-white"><span class="inline-block whitespace-nowrap uppercase lg:vertical-lr align-middle relative h-[100%] leading-[3.5rem] lg:leading-normal">Domestic Tarmac Services</span></h1>
            <div class="flex-none pt-24 px-12 align-top relative z-[1] lg:w-[calc(100vw-(3.5rem*5))] lg:max-w-[calc(1200px-(3.5rem*5))]">
                <h2 class="text-red md:text-lg text-sm pb-2">Upgrade Your Home with a Beautiful Driveway</h2>
                <h3 class="text-white md:text-3xl text-xl font-bold normal-case">Transform Your Property's Curb Appeal Today</h3>
                <p class="md:text-base text-sm text-white my-8 lg:pr-24">Your home deserves the best, and that includes a stunning driveway. At Ashford Tarmac, we specialise in crafting exceptional driveways that not only elevate your home's aesthetics but also provide durability and safety. Say goodbye to an old, worn-out driveway and hello to a welcoming entrance that makes a lasting impression.</p>
                <div class="flex flex-row justify-start min-h-min">
                    <a href="/domestic-tarmac-contractor" alt="domestic and residential tarmac services in kent" class="bg-red hover:bg-white hover:text-black text-white font-bolder lg:text-base text-xs tracking-wide tracking-wide py-1 pl-4 pr-1 my-6 rounded-full flex items-center">
                        <span  class="">Domestic Services</span>
                        <span class="bg-black rounded-full p-2 ml-4 ">
                            <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-[0_0_3.5rem] flex-col lg:flex-row overflow-hidden relative">
            <h1 class="flex-none lg:w-14 h-14 lg:h-auto z-[2] cursor-pointer text-base lg:text-xl text-center font-medium border border-gray-dark border-solid rounded-xl hover:bg-red hover:text-black bg-gray-light text-gray-dark"><span class="inline-block whitespace-nowrap uppercase lg:vertical-lr align-middle relative h-[100%] leading-[3.5rem] lg:leading-normal">Public Sector Tarmac Services</span></h1>
            <div class="flex-none pt-24 px-12 align-top relative z-[1] lg:w-[calc(100vw-(3.5rem*5))] lg:max-w-[calc(1200px-(3.5rem*5))]">
                <h2 class="text-red md:text-lg text-sm pb-2">Enhance Public Spaces with Quality Surfacing</h2>
                <h3 class="text-white md:text-3xl text-xl font-bold normal-case">Creating Safer Playgrounds and Efficient Car Parks</h3>
                <p class="md:text-base text-sm text-white my-8 lg:pr-24">We understand that public spaces are the heart of our communities, and we're here to help you make them even better. At Ashford Tarmac, we specialise in surfacing solutions that go beyond the ordinary. Whether it's crafting safe and vibrant playgrounds or creating efficient car parks, we bring your vision to life with top-quality workmanship.</p>
                <div class="flex flex-row justify-start min-h-min pt-2">
                    <a href="/public-sector-tarmac-contractor" alt="tarmac services in kent for the public sector" class="bg-red hover:bg-white hover:text-black text-white font-bolder lg:text-base text-xs tracking-wide tracking-wide py-1 pl-4 pr-1 my-6 rounded-full flex items-center">
                        <span  class="">Public Sector Services</span>
                        <span class="bg-black rounded-full p-2 ml-4 ">
                            <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col flex-none items-center justify-start w-12 border-l border-gray-dark border-solid">
        <p class="text-gray font-light text-lg h-5">100%</p>
        <div class="min-w-0.5 min-h-16 bg-black"></div>
        <div class="min-w-0.5 min-h-16 bg-gray"></div>
        <div class="min-w-0.5 min-h-16 bg-gray-dark"></div>
    </div>
</div>
<Clients />
<!-- Red section (about) -->
<div class="flex bg-red" id="target-div" data-at-snap>
    <div class="border-r border-red-dark border-solid w-12 flex-none"></div>
    <div class="flex-1 flex-col items-center justify-center overflow-hidden">
        <div class="flex flex-col items-start justify-center items-center py-6 bg-red">
            <p class="v-copy3 pr-2 text-gray-dark">about us</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-dark">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
        <div class="flex-col md:w-2/3">
            <h2 class="md:text-lg text-smh text-white pb-4 pt-12">Discover Our Kent Tarmac Legacy</h2>
            <p class="md:text-6xl text-3xl font-light">Ashford Tarmacadam Contractors is a Kent-based tarmac company with over 45 years of experience.</p>
            <div class="flex flex-row justify-start min-h-min pt-2">
                <a href="/about" class="bg-black hover:bg-white hover:text-black text-white font-bolder lg:text-lg text-xs tracking-wide tracking-wide py-1 pl-4 pr-1 my-6 rounded-full flex items-center">
                    <span  class="">About Ashford Tarmac</span>
                    <span class="bg-red rounded-full p-2 ml-4 ">
                        <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
        <div class="container w-full overflow-hidden">
            <div class="btext whitespace-nowrap md:text-7xl text-7xl text-white font-bold text-opacity-60 uppercase">ashford tarmac contractors</div>
            <div class="btext2 whitespace-nowrap md:text-7xl text-7xl text-white font-bold text-opacity-40 uppercase">driveways | roads | car parks</div>
        </div>
        <div class="bg-white md:w-3/5 flex"><p>&nbsp;</p></div>
    </div>
    <div class="border-l border-red-dark border-solid w-12 flex-none"></div>
</div>
<!-- Service section -->
<div class="flex bg-white" data-at-snap="services">
    <div class="flex items-start justify-center border-r border-gray-light border-solid w-12">
        <p class="v-copy text-gray py-2">New Driveways | Resurfacing Tarmac | Tarmac Repairs | Resin Bound & Bond</p>
    </div>
    <!-- Main -->
    <div class="flex-1 flex-col items-center justify-center">
        <div class="flex flex-col items-start justify-center items-center pb-4">
            <p class="v-copy2 pr-2">services</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
    <!-- Image and text -->
    <div class="md:flex pb-24 pt-24">
        <div class="overflow-hidden w-[100%] relative md:w-3/5 whitespace-nowrap">
          {[
            {
              images: ['/driveway1.svg','/driveway2.svg','/driveway3.svg','/driveway4.svg','/driveway5.svg','/driveway6.svg','/driveway7.svg','/driveway8.svg'],
              description: 'Domestic Driveway Tarmac Services in Kent'
            },{
              images: ['/dev1.svg','/dev2.svg','/dev3.svg','/dev4.svg','/dev5.svg','/dev6.svg','/dev7.svg','/dev8.svg'],
              description: 'Domestic Driveway Tarmac Services in Kent'
            },{
              images: ['/uni1.svg','/uni2.svg','/uni3.svg','/uni4.svg','/uni5.svg','/uni6.svg','/uni7.svg','/uni8.svg'],
              description: 'Domestic Driveway Tarmac Services in Kent'
            }
          ].reduce((result, section, i) => {
            section.images.forEach((url, j) => {
              const hidden = j > 0 ? 'hidden' : 'inline-block';
              const left = i > 0 ? ' left-100' : '';
              result.push(<span class={`${hidden} relative w-[100%]${left}`} data-at-service-img={i + 1}><img loading="lazy" src={url} class="w-[100%]" alt={section.description}/></span>)
            })
            return result
          }, [])}
        </div>
        <div class="md:w-2/5 text-right">
            <h2 class="lg:text-lg text-gray pb-4">Service Sectors</h2>
            <h3 class="lg:text-3xl text-2xl font-bold text-gray-dark hover:cursor-pointer" data-at-service-id="1">Domestic Tarmac</h3>
            <h3 class="lg:text-3xl text-2xl font-bold text-black hover:cursor-pointer" data-at-service-id="2">Commercial Tarmac</h3>
            <h3 class="lg:text-3xl text-2xl font-bold text-gray hover:cursor-pointer" data-at-service-id="3">Public Sector Tarmac</h3>
            <span class="thin-text text-gray after:content-[attr(data-progress)]" data-progress="0%"></span>
            <div class="border-t border-red ml-8 block mr-[100%]"></div>
            <div class="md:pl-6 overflow-hidden">
                <div data-at-service-txt="1" class="relative inline-block">
                    <p class="text-black">Transform your home with our expertise in domestic tarmac solutions. From crafting beautiful driveways to repairing and resurfacing, we've been enhancing curb appeal for 45 years. Our team's dedication and long-standing commitment to quality ensure your project's success.</p>
                    <span class ="text-sm text-gray uppercase">New Driveways | Resurfacing Tarmac |  Tarmac Repairs |  Machine & Hand Lay | Resin Bound & Bond</span>
                    <div class="flex flex-row justify-end min-h-min pt-2">
                        <a href="/domestic-tarmac-contractor" alt="domestic and residential tarmac services in kent" class="bg-red hover:bg-black hover:text-white text-white font-bolder lg:text-base text-xs tracking-wide tracking-wide py-1 pl-4 pr-1 my-6 rounded-full flex items-center">
                            <span  class="">Domestic Services</span>
                            <span class="bg-black rounded-full p-2 ml-4 ">
                                <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div data-at-service-txt="2" class="relative hidden left-[130%]">
                    <p class="text-black">For commercial projects, Ashford Tarmac delivers results. We specialize in constructing new roads, efficient car parks, and safe playgrounds. Our experience spans decades, making us a trusted choice for businesses, property developers, and industrial estate owners.</p>
                    <span class ="text-sm text-gray uppercase">New Roads | Car Parks |  Playground Surfacing | Foot/Cycle Paths | Pot Hole Repairs | Resin Bond/Bound</span>
                    <div class="flex flex-row justify-end min-h-min pt-2">
                        <a href="/commercial-tarmac-contractor" alt="commercial tarmac services in kent" class="bg-red hover:bg-black hover:text-white text-white font-bolder lg:text-base text-xs tracking-wide tracking-wide py-1 pl-4 pr-1 my-6 rounded-full flex items-center">
                            <span  class="">Commercial Services</span>
                            <span class="bg-black rounded-full p-2 ml-4 ">
                                <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div data-at-service-txt="3" class="relative hidden left-[130%]">
                    <p class="text-black">Enhancing public spaces is our passion. Ashford Tarmac collaborates with the public sector to create safe, attractive playgrounds, efficient car parks, and well-paved roads. With a rich history of serving communities, we're your dependable partner for these essential projects.</p>
                    <span class ="text-sm text-gray uppercase">Playground Surfacing | Car Parks |  Road Paving</span>
                    <div class="flex flex-row justify-end min-h-min pt-2">
                        <a href="/public-sector-tarmac-contractor" alt="tarmac services in kent for the public sector" class="bg-red hover:bg-black hover:text-white text-white font-bolder lg:text-base text-xs tracking-wide tracking-wide py-1 pl-4 pr-1 my-6 rounded-full flex items-center">
                            <span  class="">Public Sector Services</span>
                            <span class="bg-black rounded-full p-2 ml-4 ">
                                <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get estimate -->
    <EstimateForm />
    <div class="flex flex-col items-start justify-center items-center pb-4 pt-12">
        <p class="v-copy2 pr-16">tarmac articles</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
        </svg>
    </div>
    <!-- blog archive --> 
<BlogArchive />
</div><!--end of main -->
    <div class="border-l border-gray-light border-solid w-12 hover:cursor-pointer border md:pt-[12.2rem] pt-[25.4rem]" data-at-services-next>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg> 
        <div class="flex flex-col items-center pt-[7.8rem] lg:pt-[9.5rem] md:pt-[8rem]">
            <p class="v-copy pr-0.5 text-gray">keep scrolling</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
    </div>
</div>


</BaseLayout>
