---
import type { Code } from "astro:components"

const {id, class:classList, bg1="red", bg2="black", fg1="white", fg2=fg1, arrow="black", text="Get a Tarmac Estimate", type="link", href="/tarmac-case-study-archive#tarmac-estimate"} = Astro.props
const btnClassList = [
    `bg-${bg1}`,
    `hover:bg-${bg2}`,
    `text-${fg1}`,
    `hover:text-${fg2}`,
]
const arrowClassList = [
    `bg-${arrow}`
]
const Tag = {link: 'a', anchor: 'a'}[type] ?? 'button'
const href_attr = Tag === 'button' ? {type} : {href}
---
<Tag id={id} {...href_attr} class:list={["w-[15.5rem] inline-block text-white hover:text-white font-medium tracking-wide py-1 pl-4 pr-1 my-6 rounded-full at-estimate-btn text-white", ...btnClassList, classList]}>
    <span class="flex items-center">
        <span class="flex-1 text-center">{text}</span>
        <span class:list={["rounded-full p-2 ml-4 flex-none", ...arrowClassList]}>
            <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
            </svg>
        </span>
    </span>
  </Tag>
